/* Contenedor principal que centra la tarjeta */
.login-container {
  display: flex;
  width: 900px;
  height: 550px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Lado Izquierdo (Azul) */
.login-sidebar {
  flex: 1;
  background-color: #001D41;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-sidebar h1 {
  font-size: 38px;
  margin: 20px 0 5px 0;
  font-weight: bold;
}

/* Lado Derecho (Blanco) */
.login-form-section {
  flex: 1.2;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo de los inputs */
.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  box-sizing: border-box; /* Importante para que no se salgan del cuadro */
}

/* Botón de entrada */
.btn-login {
  width: 100%;
  padding: 15px;
  background-color: #001D41;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #003375;
}

/* Círculo del Logo */
.logo-box {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}